<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>上传文件</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="assets/images/icon/favicon.ico">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/metisMenu.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/slicknav.min.css">
    <!-- amchart css -->
    <link rel="stylesheet" href="assets/css/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="assets/css/typography.css">
    <link rel="stylesheet" href="assets/css/default-css.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <!-- modernizr css -->
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
<!--<form action="addFile" method="post" enctype="multipart/form-data">-->
<!--    文件：<input type="file" name="upfile"><br>-->
<!--    <input type="submit">-->

<!--</form>-->
<a href="javascript:history.back(-1)"><button type="button" class="btn btn-rounded btn-primary mb-3">返回</button></a>
<div class="card-body" style="width: 488px;">
    <h4 class="header-title">文件上传：</h4>
    <form action="addFile" method="post" enctype="multipart/form-data">
        <div class="input-group">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile04" name="upfile" onchange="document.getElementById('lable-text').innerHTML = this.value">
                <label class="custom-file-label" for="inputGroupFile04" id="lable-text"></label>
            </div>
            <div class="input-group-append">
                <button class="btn btn-primary mb-3" type="submit">上传</button>
            </div>
            <input type="hidden" name="currentPath" th:value="${param.currentPath}">
        </div>


    </form>
</div>
</body>
</html>